#container-sidebar {
  background-color: #063647 !important;
}
#vertical-sidebar {
  background-color: #063647 !important;
  color: #FFFFFF !important;
  font-family: sans-serif;
  font-weight: 300;
  width: 168px; 
  height: 700px;
  float: left;
  display: block;
  text-decoration: none;
}
.vertical-sidebar .nav-link:hover {
  background-color: #ccc !important;
}
.card-header {
  background-color: #D6EBF3 !important;
  float: right;
  overflow: hidden;
  text-align: center;
  color: #333333;
  font-family: OpenSans-Regular, Open Sans; 
  font-size: 20; 
  font-weight: normal;
  width: 100%;
  padding: 0px !important;
}
.stats-button {
  display: flex; 
  justify-content: center;
  color: #479CBA;
}
.container-main {
  float: right;
  text-align: center;
  background-color: #D8D8D8 !important;
  font-family: OpenSans-Regular, Open Sans; 
  font-size: 20; 
  font-weight: normal;
  width: 100%;
}
.card-main {
  background-color: #D8D8D8 !important;
  padding: 0px !important;
}


/* FONTS & COLORS */
.nav-text {
  color: #FFFFFF; 
  font-family: OpenSans-SemiBold, Open Sans;
  font-size: 20; 
  font-weight: 500;
  float: left;
}
.header-title {
  color: #333333; 
  font-family: OpenSans-Regular, Open Sans;
  font-size: 20;
  font-weight: normal;
}
.header-text {
  color:#333333;
  font-family: OpenSans-Regular, Open Sans; 
  font-size: 16; 
  font-weight: normal;
}

.stats-button1 {
  font-family: OpenSans-Regular, Open Sans; 
  font-size: 18;
  font-weight: normal;
  color: #479CBA;
  background-color: #FFFFFF !important;
}
.stats-button2 {
  font-family: OpenSans-Regular, Open Sans;
  font-size: 18; 
  font-weight: normal; 
  color: #FFFFFF;
  background-color: #479CBA !important;
}
.main-title {
  text-align: left;
  font-family: OpenSans-Regular, Open Sans;
  font-size: 24;
  font-weight: bold;
  color: #4A4A4A;
  text-indent: 15px;
}
.main-text {
  color:#4A4A4A;
  font-family: OpenSans-Regular, Open Sans; 
  font-size: 18; 
  font-weight: normal; 
  opacity: 0.900000036;
}
.music-tabs {
  font-family: OpenSans-Regular, Open Sans;
  font-size: 16;
  font-weight: normal; 
  color: #479CBA;
}
.artist-title {
  opacity: 1; 
  font-family: HelveticaNeue-Bold, Helvetica Neue;
  font-size: 16;
  font-weight: bold; 
  letter-spacing: 1; 
  color: #D2D2D2;
  text-align: left;
  text-indent: 5%;
}
.plays-title {
  opacity: 1; 
  font-family: HelveticaNeue-Bold, Helvetica Neue;
  font-size: 16;
  font-weight: bold; 
  letter-spacing: 1; 
  color: #D2D2D2;
  text-align: center;
}
.songs-title {
  opacity: 1; 
  font-family: HelveticaNeue-Bold, Helvetica Neue;
  font-size: 16;
  font-weight: bold; 
  letter-spacing: 1; 
  color: #D2D2D2;
  text-align: center;
  text-indent: 22.5%;
}
.list-group-item {
  padding: 10px 15px !important;
}
.order-by {
  float: right;
  text-align: right;
  font-family: OpenSans-Regular, Open Sans;
  font-size: 16; 
  font-weight: normal;
  color: #333333;
}
#dropdown-item-button {
  font-family: OpenSans-Regular, Open Sans;
  font-size: 16;
  font-weight: normal;
  float: right;
  color: #479CBA !important;
  background-color: #FFFFFF !important;
}
.artist-list {
  position: relative;
  white-space: nowrap;
  font-family: HelveticaNeue, Helvetica Neue;
  font-size: 16; 
  font-weight: normal;
  color: #373A3C;
  text-align: left;
}
.plays-list {
  position: relative;
  white-space: nowrap;
  font-family: HelveticaNeue, Helvetica Neue;
  font-size: 16; 
  font-weight: normal;
  color: #373A3C;
  text-align: center;
}
.songs-list {
  position: relative;
  white-space: nowrap;
  font-family: HelveticaNeue, Helvetica Neue;
  font-size: 16; 
  font-weight: normal;
  color: #373A3C;
  text-align: right;
}
.music-button {
  float: right;
  font-family: OpenSans-Regular, Open Sans; font-size: 18; 
  font-weight: normal;
  color: #FFFFFF;
  background-color: #479CBA !important;
  margin-top: 20px;
}
.card-footer {
  float: right;
  font-family: OpenSans-Regular, Open Sans; 
  font-size: 20; 
  font-weight: normal;
  padding: 5px 30px 0px !important;
  width: 100%;
}
.number {
  font-weight: bold
}
#copyright {
  opacity: 0.25;
  font-family: OpenSans-SemiBold, Open Sans;
  font-size: 5; 
  font-weight: 500; 
  fill: #FFFFFF;
}

/* Icon & SVG Colors */
.delete-icons {
  font-family: MaterialIcons-Regular, Material Icons;
  font-size: 23; 
  font-weight: normal; 
  color: #DE1428;
}
.share-icons {
  font-family: MaterialIcons-Regular, Material Icons;
  font-size: 23; 
  font-weight: normal; 
  color: #479CBA;
}
.animal-svg {
  fill: green;
}

