@import 'https://fonts.googleapis.com/css?family=Open+Sans&display=swap'

body {
  background-color: whitesmoke;
  /* text-align: center; */
  color: black
  font-family: 'Open Sans', sans-serif;
}
  root {
    position: "absolute",
    top: 0,
    left: 0,
    right: 0,
    bottom: 0,
    overflow: "hidden"
  }
  sidebar {
    zIndex: 2,
    position: "absolute",
    top: 0,
    bottom: 0,
    transition: "transform .3s ease-out",
    WebkitTransition: "-webkit-transform .3s ease-out",
    willChange: "transform",
    overflowY: "auto"
  }
  content {
    position: "absolute",
    top: 0,
    left: 0,
    right: 0,
    bottom: 0,
    overflowY: "auto",
    WebkitOverflowScrolling: "touch",
    transition: "left .3s ease-out, right .3s ease-out"
  }
  overlay {
    zIndex: 1,
    position: "fixed",
    top: 0,
    left: 0,
    right: 0,
    bottom: 0,
    opacity: 0,
    visibility: "hidden",
    transition: "opacity .3s ease-out, visibility .3s ease-out",
    backgroundColor: "rgba(0,0,0,.3)"
  }
  dragHandle {
    zIndex: 1,
    position: "fixed",
    top: 0,
    bottom: 0
  }
.vertical-sidebar {
  font-family: sans-serif;
  font-weight: 300;
  /* width: 200px; */
  width: 35%;
  height: 100%;
  float: left;
  background-color: #eee; /*Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  text-decoration: none; /* Remove underline from links */
}
.vertical-sidebar .nav-link:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}
.vertical-sidebar .nav-link:active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}
.logo {
  float: left
  width: 20px;
  height: 20px
  display: inline-flex;
  flex-direction: row;
}
.sidebar-header {
  display: inline;
}
.card-header {
  background-color: #D6EBF3;
  float: right;
  overflow: hidden;
  text-align: center;
  fill: #333333;
  font-family: OpenSans-Regular, Open Sans; 
  font-size: 20; 
  font-weight: normal;
}
.stats-button {
  display: flex; 
  justify-content: center; 
  border-radius: 40%;
}
.card-main {
  float: right;
  text-align: center
}
.card-footer {
  float: right;
}
.order-by {
  float: right;
  text-align: right
}
.music-button {
  float: right
}
.artist-list {
  position: relative;
  text-indent: -1em;
  white-space: nowrap;
}
.plays-list {
  position: relative;
  text-indent: -1em;
  white-space: nowrap;
}
.songs-list {
  position: relative;
  text-indent: -1em;
  white-space: nowrap;
}