body {
  color: black;
}
#vertical-sidebar {
  color: #063647;
  font-family: sans-serif;
  font-weight: 300;
  width: "200"; 
  height: "839";
  float: left;
  color: white; /* Black text color */
  display: block; /* Make the links appear below each other */
  text-decoration: none; /* Remove underline from links */
}
.vertical-sidebar .nav-link:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}
.vertical-sidebar .nav-link:active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}
.logo {
  float: left;
  width: 20px;
  height: 20px;
  display: inline-flex;
  flex-direction: row;
}
.card-header {
  background-color: #D6EBF3;
  float: right;
  overflow: hidden;
  text-align: center;
  color: #333333;
  font-family: OpenSans-Regular, Open Sans; 
  font-size: 20; 
  font-weight: normal;
}
.stats-button {
  display: flex; 
  justify-content: center;
}
.card-main {
  float: right;
  text-align: center;
  background-color: #D8D8D8;
  font-family: OpenSans-Regular, Open Sans; 
  font-size: 20; 
  font-weight: normal;
}

/* FONTS */
.nav-header {
  display: inline;
  color: "#FFFFFF"; 
  font-family: "OpenSans-SemiBold, Open Sans";
  font-size: "16"; 
  font-weight: "500"
}
.nav-links {
  opacity: 0.6; 
  font-family: OpenSans-Light, Open Sans;
  font-size: 18; 
  font-weight: 300;
  color: #FFFFFF;
}
.header-title {
  color: #333333; 
  font-family: OpenSans-Regular, Open Sans;
  font-size: 20;
  font-weight: normal;
}
.header-text {
  color:#333333;
  font-family: OpenSans-Regular, Open Sans; 
  font-size: 16; 
  font-weight: normal;
}

.stats-button1 {
  font-family: OpenSans-Regular, Open Sans; 
  font-size: 18;
  font-weight: normal;
  color: #479CBA;
  background-color: #FFFFFF;
}
.stats-button2 {
  font-family: OpenSans-Regular, Open Sans;
  font-size: 18; 
  font-weight: normal; 
  color: #FFFFFF;
  background-color: #479CBA;
}
.main-title {
  text-align: left;
  font-family: OpenSans-Regular, Open Sans;
  font-size:24;
  font-weight: normal;
  color: #4A4A4A;
}
.main-text {
  color:#4A4A4A;
  font-family: OpenSans-Regular, Open Sans; 
  font-size: 18; 
  font-weight: normal; 
  opacity: 0.900000036;
}
.music-tabs {
  font-family: OpenSans-Regular, Open Sans;
  font-size: 16;
  font-weight: normal; 
  color: #479CBA;
}
.music-title {
  opacity: 1; 
  font-family: HelveticaNeue-Bold, Helvetica Neue;
  font-size: 16;
  font-weight: bold; 
  letter-spacing: 1; 
  color: #D2D2D2;
}
.order-by {
  float: right;
  text-align: right;
  font-family: OpenSans-Regular, Open Sans;
  font-size: 16; 
  font-weight: normal;
  color: #333333;
}
.dropdown-item-button {
  font-family: OpenSans-Regular, Open Sans;
  font-size: 16;
  font-weight: normal;
  float: right;
  color: #479CBA;
  background-color: #FFFFFF;
}
.artist-list .plays-list .songs-list {
  position: relative;
  white-space: nowrap;
  font-family: HelveticaNeue, Helvetica Neue;
  font-size: 16; 
  font-weight: normal;
  color: #373A3C;
}
.music-button {
  float: right;
  font-family: OpenSans-Regular, Open Sans; font-size: 18; 
  font-weight: normal;
  color: #FFFFFF;
  background-color: #479CBA;
}
.card-footer {
  float: right;
  font-family: OpenSans-Regular, Open Sans; 
  font-size: 20; 
  font-weight: normal;
}